@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    background-color: #41729F;
    font-family: 'Lato', sans-serif;
}
.DivMain{
    margin-top: 240px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DivText{
    position    : absolute;
    margin-right: 420px;
    width: 350px;
    justify-content: center;
    margin-left: 10px;

}

.DivUser{
    background-color: #ffffff;
    position    : absolute;
    width : 350px;
    height: 300px;
    margin-left: 350px;
    display: flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;

    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.487);
}

.FormInput{
    margin-top: 10px;
    display: flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
}

h1{
    color: #ffffff;
    font-size: 28pt;
}

p{
    font-size: 14pt;
}

input{
    font-size: 10pt;
    height: 40px;
    width : 300px;
    margin-top: 10px;
    padding-left: 10px;
    border-width: 1px;
    border-radius: 10px;
    outline: none;
}
input:focus{
    border: 3px solid red;
}